body{
    padding: 80px;
}

div h2{
  margin: 5px ;
}

.boundary{
    margin: 20px 0px 20px 0px;
    border: 5px solid goldenrod;
}

.image-section{
    display: flex;
    justify-content: center;
}

.img-container{
    height: 30vh;
}

.profileImg{
    width: auto;
    height: 100%;
}

section p{
    text-align: justify;
}

.title{
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 750px) {
    body {
      padding: 50px;
    }
  }